<!--The content below is only a placeholder and can be replaced.-->
<h1>
  {{title}}
</h1>

<div *ngIf="hero">
  <h2>
    {{hero.name}} details!
  </h2>

  <div>
    <label>id: </label>{{hero.id}}
  </div>

  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name">
  </div>
</div>



